*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* border and the padding is no longer added to the total width and total height of the element */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: #ecf0f1;
    
}